<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <main>
    <h2><%= header %></h2>
  
    <ul>
      <% results.forEach(function(result) { %>
        <li>
          Title: <%= result.title %> ||  Body: <%= result.body %>
        </li>
      <% }); %>
    </ul>
  
  </main>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>